*{
     box-sizing: border-box;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      
}
.box{
    width: 90%;
    max-width: 470px;
    border: 2px solid black;
    border-radius: 20px;
    margin: 100px auto 100px auto;
    padding: 30px;
    text-align: center;
    background-color: rgb(215, 246, 250);
}
.search{
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.search input{
    
    background-color: beige;
    padding: 10px 30px;
    border-radius: 20px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: 0px;
}
button{
    padding: 10px 5px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    border: 2px solid black;
    background-color: navy;
    color: yellow;
    margin-left: 0px;
}
.weather{

}
.weatheri{
    margin-top: 30px;
    height: 100px;
    width: 100px;
}
.weather h1{
    font-size: 50px;
    margin-bottom: 0;
}
.weather h2{
    font-size: 30px;
    margin-top: 5px;
}
.details{
    display: flex;
    justify-content: space-between;
    
}
.column{
    display: flex;
    align-items: center;
    
}
.column img{
    width: 50px;
    height: 50px;
    margin: 10px;
}
.column p{
    margin: 0;
    font-size: 15px;
}